<h2>Por país</h2>
<hr class="my-3 border-slate-400" />

<div>
  <div class="block p-6 rounded-lg shadow-lg bg-white max-w-sm">
    <form action="" autocomplete="off" (ngSubmit)="buscar()">
      <input
        type="text"
        name="termino"
        id=""
        placeholder="Buscar país..."
        class="form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
        [(ngModel)]="termino"
      />
    </form>
  </div>
</div>

<hr />
<div class="bg-red-100 rounded-lg py-5 px-6 mb-4 text-base text-red-700 mb-3">
  No se encontró nada con el término
</div>

<div class="py-2 inline-block min-w-full sm:px-6 lg:px-8">
  <div class="overflow-hidden">
    <table class="min-w-full text-center">
      <thead class="border-b">
        <tr>
          <th></th>
          <th class="text-sm font-medium text-gray-900 px-6 py-4">Bandera</th>
          <th class="text-sm font-medium text-gray-900 px-6 py-4">Nombre</th>
          <th class="text-sm font-medium text-gray-900 px-6 py-4">Población</th>
        </tr>
      </thead>
      <tbody>
        <tr class="border-b">
          <td
            class="text-sm text-gray-900 font-medium px-6 py-4 whitespace-nowrap"
          >
            1
          </td>
          <td
            class="text-sm text-gray-900 font-medium px-6 py-4 whitespace-nowrap"
          >
            Bandera
          </td>
          <td
            class="text-sm text-gray-900 font-medium px-6 py-4 whitespace-nowrap"
          >
            Nombre
          </td>
          <td
            class="text-sm text-gray-900 font-medium px-6 py-4 whitespace-nowrap"
          >
            1223
          </td>
          <td
            class="text-sm text-gray-900 font-medium px-6 py-4 whitespace-nowrap"
          >
            <a href="/pais/id">Ver...</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
