<table class="min-w-full text-center">
  <thead class="border-b">
    <tr>
      <th class="text-sm font-medium text-gray-900 px-6 py-4">#</th>
      <th class="text-sm font-medium text-gray-900 px-6 py-4">Bandera</th>
      <th class="text-sm font-medium text-gray-900 px-6 py-4">Nombre</th>
      <th class="text-sm font-medium text-gray-900 px-6 py-4">Población</th>
    </tr>
  </thead>
  <tbody>
    <tr class="border-b" *ngFor="let pais of paises; let i = index">
      <td class="text-sm text-gray-900 font-medium px-6 py-4 whitespace-nowrap">
        {{ i + 1 }}
      </td>
      <img src="{{ pais.flags.png }}" width="50 " alt="" />

      <td class="text-sm text-gray-900 font-medium px-6 py-4 whitespace-nowrap">
        {{ pais.name.common }}
      </td>
      <td class="text-sm text-gray-900 font-medium px-6 py-4 whitespace-nowrap">
        {{ pais.population | number }}
      </td>
      <td
        class="text-sm text-gray-900 font-medium px-6 py-4 whitespace-nowrap"
      ></td>
      <td class="text-sm text-gray-900 font-medium px-6 py-4 whitespace-nowrap">
        <a [routerLink]="['/pais', pais.cca2]">Ver...</a>
      </td>
    </tr>
  </tbody>
</table>
